.navlinks{
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: var(--second-color);
    box-shadow: 1px 1px 4px var(--main-color);
    font-family: 'AmazonFontLight';
}
.NavUL{
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 6px 0px;
    text-decoration: none;
}

.Navli{

    font-size: x-large;
    box-sizing: border-box; 
    padding: 13px 20px;
    color: white;
    text-decoration: none;
}

.selected{
    border: 2px solid black;
    border-radius: 5px;
    color: black;
    background-color: white;
}