.navlinks{
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: white;
    box-shadow: 1px 1px 1px 1px  black;

}
.NavUL{
    padding: 10px;
    list-style: none;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

@keyframes borderColor {
    0%{
        border-bottom-color: blue;
    }
    25%{
        border-bottom-color: green;
    }
    50%{
        border-bottom-color: purple;
    }
    75%{
        border-bottom-color: yellow;
    }
    
}
.Navli{
    font-family: 'AmazonFont';
    font-size: x-large;
    box-sizing: border-box; 
    margin: 0px 35px;  
    color: black;
    text-decoration: none;
}

.selected{
    border: 2px solid black;
    border-radius: 5px;
    color: red;
}