.success{
    text-align: center;
    color: Green;
    font-size: larger;
    font-weight: 600;
}
img{
    text-align: center;
    margin: auto;
    width: 300px;
}

.key{
    font-size: larger;
    font-weight: 600;
}
.value{
    color: rgb(145, 15, 231);
}
.userDetails{
    padding: 14px;
   margin: 10px;
   box-shadow: 1px 2px 3px black;
   text-align: left;
   border-radius: 10px;
}
.formTable{
    margin: auto;
    width: 200px;
    background-color: white;
}

.submitbtn{
    color: red;
    background-color: black;
    border: 1px solid red;
    font-size: large;
    padding: 6px;
}
.submitbtn:hover{
    transform: scale(0.95);
    cursor: pointer;
}

.showformbtn{
  display: flex;
  justify-content: center;
    margin-top: 20px;
}
.btnshow{
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 7px;
    font-weight: bold;
    font-size: medium;
    border-radius: 4px;
    color: white;
    border: 2px solid white;
    padding: 8px;
    background-color: rgb(145, 15, 231);
    transition: all 500ms;
}
.btnshow:hover{
    cursor: pointer;
}

.formm{
    display: none;
    justify-content:center;
    margin: auto;
    margin-top: 20px;
   
}
*{
    margin: 0;
    padding: 0;
}
select{
    padding: 10px;
    
}

.userblog{
    margin-bottom: 10px;
   box-sizing: border-box;
}

.blog-nav-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.blog-nav-container button{
  font-size: larger;
}


.bloguser{
    padding: 8px;
    box-shadow: 1px 1px 5px rgb(145, 15, 231);
    margin-left: 15px; 
    margin-right: 15px;
    margin-top: 6px;
}
details{
    border: 1px solid white;
    border-radius: 10px;
    transition: all 0.5s ease;
}
details:hover{
    cursor: pointer;
}
.date{
    color: grey;
    font-size: small;
    font-weight: bold;
}

summary{
    font-weight: 500;
}
.del{
    padding: 4px;
    background-color: transparent;
    color: white;
    font-size: small;
    font-weight: 600;
    box-shadow: 0px 1px 2px rgb(145, 15, 231);
    border-radius: 10px;
    border: 2px solid red;
    color: red;
}
.del:hover{
    background-color: crimson;
    color: white;
    cursor: pointer;
}
.edit{
    padding: 4px;
    background-color: transparent;
    color: white;
    margin: 0px 5px;
    font-size: small;
    font-weight: 600;
    box-shadow: 0px 1px 2px black;
    border-radius: 10px;
    border: 2px solid rgb(45, 148, 238);
    color: rgb(45, 148, 238);
}
.edit:hover{
    background-color: rgb(45, 148, 238);
    color: white;
    cursor: pointer;
}
.lgdiv{
    margin: 40px;  
}

.formm{
   margin: 0px 10px;
   padding: 20px;
   background-color: white;
   box-shadow: 0px 1px 8px black;
   border: 0;
}
.submitbtn{
    background-color: transparent;
    color: white;
    background-color: black;
    border-color: black;
    padding: 2px 15px;
    border-radius: 4px;
    font-weight: 200;
    
}

.detail-cate{
    margin: 10px 0px;
    font-weight: 600;
    font-size: small;
}


.form-group {
    margin-bottom: 20px;
    color: black;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .form-group input[type="text"],
  .form-group input[type="email"],
  .form-group input[type="password"],
  .form-group select,
  .form-group textarea {
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  
  .form-group select {
    height: 40px;
  }
  
  .form-group textarea {
    height: 150px;
  }

  .view{
    margin-left: 0;
    color: rgb(183, 38, 255);
    border-color: rgb(183, 38, 255);
  }
  .view:hover{
    background-color: rgb(177, 21, 254);
  }

  .det-content{
    text-align: left;
    white-space: pre-line;
  }

  .det-img{
    text-align: center;
    margin: auto;
  }
  .detimg{
    width: 200px;
    box-shadow: 1px 1px 2px black;
  }

  .pagination-control{
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  margin-top: 10px;  
  }
 
  .pagination-control button{
    margin: 2px;
    margin-top: 10px;
    color: black;
    background-color: white;
    border: 1px solid black; 
    padding: 4px;
    font-weight:500;
    border-radius: 5px;
  }

  .pagination-control button:hover{
    cursor: pointer;
    opacity: 75%;
  }

  .pagination-control button:disabled{
    opacity: 30%;
    background-color: rgb(145, 15, 231);
    cursor: not-allowed;
  }
 
  .blog-info-header{
    margin-bottom: 14px;
    text-align: center; 
  }

  .pagination-control h3{
    display: block;
    text-align: center;
    margin-bottom: 10px;
  }
  details::selection .userblog{
    height: auto;
  }
.switch-mode{
margin-top: 6px;
  padding: 6px;
}
.switch-mode:hover{
  cursor: pointer;
}

body{
  transition: all 1s ease-out;
}

@media (max-width:500px) {

  .key{
    font-size: large; 
  }
  
}