.PrivacyContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    text-align: left;
    font-family: 'AmazonFont';
    margin-bottom: 80px;
}

.PrivacyContainer > p{
  
    font-size: large;
}
.PrivacyContainer > h2{
    margin: 8px 2px 2px 0px;
}