.EditForm{
    font-family: 'AmazonFont';
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    border: 0;
}

.edit-helper{
    margin: 2px 2px 74px 10px;
    padding: 2px 5px 2px 6px;
}