@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Lobster&display=swap');

@font-face {
    font-family: 'AmazonFont';
    src: url('../../../Amazon-Ember-Medium.ttf') format('truetype');
}
@font-face {
    font-family: 'AmazonFontLight';
    src: url('../../../BookerlyLCD_Rg.ttf') format('truetype');
}

.logo {
    font-family: 'AmazonFontLight';
    background-color: var(--main-color);
    color: white;
    display: flex;
    justify-content: center;
    padding: 9px 0px;
    width: 100%;
}

@keyframes colorchange {
    0% {
        -webkit-text-stroke-color: red;
    }

    25% {
        -webkit-text-stroke-color: blue;
    }

    50% {
        -webkit-text-stroke-color: green;
    }

    75% {
        -webkit-text-stroke-color: purple;
    }

    100% {
        -webkit-text-stroke-color: orangered;
    }

}

.navphoto {
    width: 100%;
}

/* flex justify-center p-1 text-white font-extrabold text-center font-sans text-base */



nav {
    position: sticky;
    top: 0;
}