.p-footer{
  font-family: 'AmazonFont';
    text-align: center;
    font-size: medium;
    padding: 4px;
    background-color: white;
    color: rgb(145, 15, 231);
    padding: 10px;
    box-sizing: border-box;
    border-top: 2px solid purple;
  }
  
  .footerforyou{
  position: fixed;
  width: 100%;
  bottom: 0;
}

@media (max-width: 500px) {
  .p-footer{
    font-size: x-small;
  }
}