.viewblog > img{
    display: block;
    margin: auto;
    height: auto;
    height: 250px;
    object-fit: contain;
    background-color: black;
    border: 1px solid black; 
    border-radius: 5px;
    box-shadow: 1px 1px 5px black;
}
p > img {
    display: flex;
    width: 450px;
    object-fit: contain;
    border: 1px solid black;
    border-radius: 10px;
    background-color: black;
    box-shadow: 1px 1px 5px black;
}



.viewblog{
    font-family: 'AmazonFontLight';
    box-sizing: border-box;
    padding: 4px;
    margin-bottom: 50px;
}

.blog-title{
    font-family: 'AmazonFontLight';
    font-size: x-large;
    font-weight: 200;
    text-align: center;
    padding: 10px 0px 12px 0px;
}
.blog-content{
    font-family: 'AmazonFontLight';
    text-align: left;
    white-space: pre-line;
    padding: 10px 4px 19px 15px;
    font-weight: 500;
}
.author{
    font-family: 'AmazonFontLight';
    color: var(--main-color);
    font-weight: 500;
}
.author-p{
    font-family: 'AmazonFontLight';
    font-weight: 500; 
    margin-left: 13px;
    margin-bottom: 5px;
}

/* Styles for screens with a maximum width of 600 pixels */
@media (min-width: 600px) {
    .viewblog > img{
        width: 500px;
    }
    .blog-content{
        font-size: larger;
        padding: 10px 4px 19px 35px;
    }
    .blog-title{
        font-size: xx-large;
    }
}
@media (max-width: 500px) {
    .blog-title{
        text-align: left;
        font-size: x-large;
    }
    p > img{
        width: 280px;
    }
    
}

ul strong{
    color: #231651;
}

ul, ol {
    margin: 0em 0;
    padding: 0;
  }
  
  /* Adjust the spacing for li */
  li {
    margin: -0.5em 0;
    padding: 0;
  } 