.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

table {
    border: 1px solid purple;
    color: white;
    overflow: hidden;/* Hide any content that spills over the edges*/
    background-color: transparent;
  }


.btnsec{
    color: red;
    background-color: black;
    border: 1px solid gray;
    width: 50px;
    padding: 5px;
    border-radius: 33%;
    margin-left: 2px;
}
 

table input{
    font-size: medium;
    padding: 5px;
}
.th{
    text-transform: uppercase;
    font-size: x-large;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: rgb(184, 34, 230);
}

