.container{
    display: flex;
    font-family: 'AmazonFont';
    justify-content: center;
    align-items: center;
    margin: auto;
}

.btnsexy{
    color: white;
    background-color: rgb(145, 15, 231);
    width: 50px;
    font-weight: 500;
    padding: 5px;
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;

}
.btnsexy:hover{
    cursor: pointer;
}
label{
    color: black;
    display: block;
}

.item{
    padding: 20px;
    width: 90%;
    border: 2px solid rgb(145, 15, 231);
}
.item h1{
    text-align: center;
    margin-bottom: 20px;
}
.loginInput{
    width: 100%;
}
.passwordfield{
    display: flex;
    border-radius: 10px;
    background-color: white;
}
.passwordfield input{
    outline: none;
    border: none;
}


 





