.container{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}


 

.btnsec{
    color: white;
    font-weight: 400;
    background-color: transparent;
    border: 1px solid gray;
    width: 50px;
    padding: 5px;
    border-radius: 10px;
    margin-left: 2px;
}
.btnsec:hover{
    border-color: purple;
    cursor: pointer;
}
.btnsubmit{
    color: black;
   font-size: medium;
   padding: 3px 10px;
   height: 30px;
   border-radius: 5px;
   border: 2px solid white;
   background-color: white;
   font-weight: 500;
}
.btnsubmit:hover{
    border-color: red;
    cursor: pointer;
}



.lgdiv{
  
    margin-top: 6px;
    text-align: center;
}
.lgdiv button{
    margin: 2px;
}
.loginbtn{
    background-color: white;
    color: black;
    font-weight: 600;
    padding: 4px;
    opacity: 80%;
    border: 1px solid black;
}
.loginbtn:hover{
    opacity: 100%;
    cursor: pointer;
}

