.container{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

table {
    border: 1px solid black;
    color: red;
    border-radius: 50px; /* Set the border radius */
    overflow: hidden;/* Hide any content that spills over the edges*/
    background-color: black;
  }
 

.btnsec{
    color: red;
    background-color: black;
    border: 1px solid gray;
    width: 50px;
    padding: 5px;
    border-radius: 33%;
    margin-left: 2px;
}
.btnsec:hover{
    border-color: red;
    cursor: pointer;
}
.btnsubmit{
    color: red;
    font-size: larger;
    background-color: black;
    border: 1px solid gray;
    padding: 10px;
    border-radius: 33%;
}
.btnsubmit:hover{
    border-color: red;
    cursor: pointer;
}

table input{
    font-size: medium;

}

.lgdiv{
  
    margin-top: 6px;
    text-align: center;
}
.lgdiv button{
    margin: 2px;
}
.loginbtn{
    color: red;
    background-color: black;
    padding: 6px;
}
.loginbtn:hover{
    border-color: red;
    cursor: pointer;
}

